.philosopherlibrary-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--appBackground);
  }
  
  .philosopherlibrary-card {
    flex-basis: 20%;
    text-align: center;
    margin: 1.5em;
    border-radius: 1em;
    cursor: pointer;
  }

  .philosopher-library-info-card {
    height: 50%;
  }
  
  .philosopherlibrary-image {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
    border: 1px solid #1D1D1D;
  }
  
  .philosopherlibrary-info {
    color: #1D1D1D;
  }
  section.philosopher {
    margin: 3rem;
  }
  
  .philosopher {
    background-color: var(--white);
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  .philosopher-info {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
    color: var(--primary);
    font-family: "Roboto", sans-serif;
  }
  
  .philosopher-header {
    display: flex;
    flex-direction: row;
    background-color:#1D1D1D;
  }
  .philosopherdetails-image {
    width: 50%;
    height: 50px;

  }
  .details-left {
    flex-basis: 40%;
  }
  .details-right {
    flex-basis: 60%;
  }
  .title {
    color: #1D1D1D;
    margin-left: 35px;
  }