.profile {
    background-color: #f2f4f7;
    border: 4px solid #888279;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2em;
    margin-right: 2em;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f4f7;
    padding: 1em;
    height: 70vh;
}

