.save-button {
    float: inline-end;
    margin-top: 1em;
    bottom: -15px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  .form {
    display: flex;
    flex-direction: row;
  }
  .right-side {
    flex-basis: 30%;
  }
  .left-side {
    flex-basis: 60%;
  }